<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sample Kit Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/style.css"/>
</head>

<body>
    
    <div class="container-fluid">
	<div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper blue-grey">
                    <a href="/" class="brand-logo">Sample Kit Manager</a>
                        <ul class="right hide-on-small-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="/myaccount">My Account</a></li>
                        <li><a id="logout" href="/logout">Logout</a></li>
                        </ul>
                </div>
            </nav>
    </div>
    </div>
	
		{{{ body }}}

<div class="container-fluid">
	<div class="footer">
        <p class="white-text">Copyright © 2018 Stakerr</p>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/public/app.js"></script>

</body>

</html>