<div class="row">

    <div class="col s6">
        <h5>Dashboard</h5>
        <hr>

    </div>

    
    <div class="col s6">
        <h5>Recently Launched</h5>
        <hr>
    </div>

</div>


<div class="row">
    <div class="col s12">
        <h5>Accounts Needing Attention</h5>
        <hr>
        <table class="striped centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone #</th>
                    <th>Date Launched</th>
                    <th>Days Until Unresponsive</th>
                    <th>Days Until Kit Chargeback</th>
                        
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jake</td>
                    <td>(888)888-8888</td>
                    <td>04/05/2018</td>
                    <td>3</td>
                    <td>1</td>
                    <td><button class="btn" style="width:100%">Contact</button></td>
                </tr>
                <tr>
                    <td>Bob</td>
                    <td>(777)777-7777</td>
                    <td>01/03/2018</td>
                    <td>8</td>
                    <td>0</td>
                    <td><button class="btn" style="width:100%">Contact</button></td>
                </tr>
                <tr>
                    <td>Arnold</td>
                    <td>(555)555-5555</td>
                    <td>02/06/2018</td>
                    <td>14</td>
                    <td>2</td>
                    <td><button class="btn" style="width:100%">Contact</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>